<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>List of Projects</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../css/main.css" />

    </head>
    <body>
        <div class="container">
            <table>
                <tr>
                    <td>Project Name</td>
                    <td>Project Status</td>
                    <td>Project Description</td>
                    <td>Project Remarks</td>
                </tr>
                <th:block th:each="projectVO , stat : ${projectVOs}">
                    <tr>
                        <td th:text="${projectVO.name}">A Smoke Test'</td>
                        <td th:text="${projectVO.status}">A Smoke Test'</td>
                        <td th:text="${projectVO.description}">A Smoke Test'</td>
                        <td th:text="${projectVO.remarks}">A Smoke Test'</td>
                    </tr>
                </th:block>
            </table>
        </div>
        <!-- /.container -->

        <script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>
</html>