<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="XMBackend-1.1.0.0">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="xmojo-1.1.0.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/xmojo/xmojo">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="XMBackend"/>
        <property name="java-output-path" value="/XMBackend/target/classes"/>
    </wb-module>
</project-modules>
