.MPartStack {
	swt-maximize-visible: false;
	swt-minimize-visible: false;
}

Composite Label { 
	font: Calibri 10px; 
	color: #141315 }

#ApplicationLabel {
	font: Calibri 12px;
	font-weight: bold;
}

#ProjectLabel {
	font: Calibri 11px bold;
}
#MyCSSTagForlblTheme {
	 font: Constantia 9px Bold;
	 color: rgb(0,0,0)
 }
#MyCSSTagForlblTheme {
  background-color: rgb(240,240,240);
 }
 #MyCSSTagFortbComboProjects {
   background-color: rgb(255,255,255)
 }
 
